<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
	<node pkg="lidar_object_detection" type="od_without_clustering" name="od_without_clustering"/>
	<node pkg="lidar_object_detection" type="occupancy_grid_mapper.py" name="occupancy_grid_mapper" output="screen"/>
	<!-- <node pkg="lidar_object_detection" type="lattice_basic.py" name="lattice_basic" output="screen"/> -->
	<node pkg="lidar_object_detection" type="grid_sliding_window.py" name="grid_sliding_window" output="screen"/>
	
  <!-- <arg name="param_file_name" doc="name of param file, e.g. rover" default="m"/>
  <node pkg="erp_drive" type="control" name="control" output="screen" args="$(arg target)"/> -->
  
	<!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_object_detection)/rviz/grid_map.rviz"/> -->
</launch>